<div id="sisalto">
  <h1>Italian kielen aakkoset ja &auml;&auml;nt&auml;minen</h1>

  <p>
    Foneettisten merkkien selityksi&auml;, merkit aina sulkujen
    <span class="foneettiset">[ ]</span> v&auml;liss&auml;:
  </p>

  <p>
    <span class="fonet">[z]</span> = soinnillinen s,
    <span class="fonet">[&#643;]</span> = suhu&auml;&auml;nne,
    <span class="fonet">[&#658;]</span> = soinnillinen suhu&auml;&auml;nne,
    <span class="fonet">[&#654;]</span> = lj,
    <span class="fonet">[&#626;]</span> = nj, <span class="fonet">[g]</span> =
    g, <br />
    <span class="fonet">[w]</span>&nbsp;=&nbsp;lyhyt, painoton u-vokaali tavun
    alussa, poikkeuksena vieraskieliset lainasanat.<br />
    &quot;Pitk&auml;&quot; tarkoittaa, ett&auml; vokaali on usein
    sanapainoituksen vaikutuksesta pitempi kuin lyhyt vokaali, mutta
    foneettisessa merkinn&auml;ss&auml; vokaalin pidentymist&auml;
    <b>ei merkit&auml;</b> <span class="fonet">[:]</span>-merkill&auml; tässä
    ohjeessa, vaan se ilmenee merkitystä sanapainosta; painotetetun tavun
    edess&auml; on <span class="fonet">[']</span>-merkki (caro
    <span class="fonet">['karo]</span>, fare
    <span class="fonet">['fare]</span>), jos taas vokaalia seuraa
    kaksoiskonsonantti tai kaksi eri konsonanttia se &auml;&auml;ntyy
    yleens&auml; lyhyen&auml; (latte <span class="fonet">['latte]</span>, corso
    <span class="fonet">['korso]</span>, Gherardo
    <span class="fonet">[ge'rardo]</span>).
  </p>
  <p>
    <b>Huom!</b> Italian kieless&auml; sanapaino on
    <b>p&auml;&auml;s&auml;&auml;nt&ouml;isesti</b>
    toiseksi viimeisell&auml; tavulla.
  </p>
  <div class="harva">
    <a href="{{page.url | relative_url }}#a">A</a>
    <a href="{{page.url | relative_url }}#b">B</a>
    <a href="{{page.url | relative_url }}#c">C</a>
    <a href="{{page.url | relative_url }}#d">D</a>
    <a href="{{page.url | relative_url }}#e">E</a>
    <a href="{{page.url | relative_url }}#f">F </a>
    <a href="{{page.url | relative_url }}#g">G</a>
    <a href="{{page.url | relative_url }}#h">H</a>
    <a href="{{page.url | relative_url }}#i"></a>
    <a href="{{page.url | relative_url }}#j">J</a>
    <a href="{{page.url | relative_url }}#k">K</a>
    <a href="{{page.url | relative_url }}#l">L</a>
    <a href="{{page.url | relative_url }}#m">M</a>
    <a href="{{page.url | relative_url }}#n">N</a>
    <a href="{{page.url | relative_url }}#o">O</a>
    <a href="{{page.url | relative_url }}#p">P</a>
    <a href="{{page.url | relative_url }}#q">Q</a>
    <a href="{{page.url | relative_url }}#r">R</a>
    <a href="{{page.url | relative_url }}#s">S</a>
    <a href="{{page.url | relative_url }}#t">T</a>
    <a href="{{page.url | relative_url }}#u">U</a>
    <a href="{{page.url | relative_url }}#v">V</a>
    <a href="{{page.url | relative_url }}#w">W</a>
    <a href="{{page.url | relative_url }}#x">X</a>
    <a href="{{page.url | relative_url }}#y">Y</a>
    <a href="{{page.url | relative_url }}#z">Z</a>
  </div>
  <br />
</div>

<table class="aakkostaulu">
  <tr>
    <td width="90"><a name="a">A,a</a> <span class="fonet">[a]</span></td>
    <td width="70">a <span class="fonet">[a]</span></td>
    <td>lyhyt, (pitk&auml;), suljettu</td>

    <td width="280">
      <span class="fonet">[at't&#643;&#603;nto, 'latte, a'maro, 'karo]</span
      ><br />
      <span class="ital">(accento, latte, amaro, caro)</span>
    </td>
  </tr>
  <tr>
    <td><a name="b">B,b</a> <span class="fonet">[b]</span></td>

    <td>b <span class="fonet">[b]</span></td>
    <td>&nbsp;</td>
    <td>
      <span class="fonet">[bal'lare, 'b&#603;ne, bril'lare]</span><br />
      <span class="ital">(ballare, bene, brillare)</span>
    </td>
  </tr>

  <tr>
    <td><a name="c">C,c</a> <span class="fonet">[t&#643;i]</span></td>
    <td>c <span class="fonet">[k]</span></td>
    <td>ennen a, o, u</td>

    <td>
      <span class="fonet">['karo,'korso, ku't&#643;ina]</span><br />
      <span class="ital">(caro, corso, cucina)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>c <span class="fonet">[t&#643;i]</span></td>
    <td>ennen e, i</td>
    <td>
      <span class="fonet"
        >['t&#643;&#603;nto, 't&#643;&#603;lo, 't&#643;irko]</span
      ><br />
      <span class="ital">(cento, cielo, circo)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>ch <span class="fonet">[k]</span></td>
    <td>ennen e, i</td>
    <td>
      <span class="fonet">[ke, ki, 'kj&#603;za]</span><br />

      <span class="ital">(che, chi, chiesa)</span>
    </td>
  </tr>
  <tr>
    <td><a name="d">D,d</a> <span class="fonet">[di]</span></td>
    <td>d <span class="fonet">[d]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">['dare, a'dad&#658;o, edi'tore]</span><br />
      <span class="ital">(dare, adagio, editore)</span>
    </td>
  </tr>
  <tr>
    <td><a name="e">E,e</a> <span class="fonet">[e]</span></td>

    <td>e <span class="fonet">[e]</span></td>
    <td>lyhyt, (pitk&auml;), suljettu</td>
    <td>
      <span class="fonet">['stella, 'edera]</span><br />
      <span class="ital">(stella, edera)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>e <span class="fonet">[&#603;]</span></td>
    <td>lyhyt, (pitk&auml;,) avoin</td>
    <td>
      <span class="fonet">['m&#603;ddzo, '&#603;bano, ef'f&#603;tto]</span
      ><br />

      <span class="ital">(mezzo, ebano, effetto)</span>
    </td>
  </tr>
  <tr>
    <td><a name="f">F,f</a> <span class="fonet">['effe]</span></td>
    <td>f <span class="fonet">[f]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">['afa, 'faro]</span><br />
      <span class="ital">(afa, faro)</span>
    </td>
  </tr>
  <tr>
    <td><a name="g">G,g</a> <span class="fonet">[d&#658;i]</span></td>

    <td>g <span class="fonet">[g]</span></td>

    <td>ennen a, o, u</td>
    <td>
      <span class="fonet">['gabbja, 'gola, 'gusto]</span><br />
      <span class="ital">(gabbia, gola, gusto)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>g <span class="fonet">[d&#658;]</span></td>
    <td>ennen e, i</td>
    <td>
      <span class="fonet">['d&#658;&#603;nte, 'd&#658;ita]</span><br />
      <span class="ital">(gente, gita)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>gh <span class="fonet">[g]</span></td>
    <td>ennen e, i</td>
    <td>
      <span class="fonet">[ge'rardo, 'gjotto]</span><br />

      <span class="ital">(Gherardo, ghiotto)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>gl <span class="fonet">[&#654;]</span></td>
    <td>sanan keskell&auml;, ennen i</td>
    <td>
      <span class="fonet">['fi&#654;&#654;o]</span><br />

      <span class="ital">(figlio)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>gl <span class="fonet">[gl]</span></td>
    <td>sanan alussa, ennen a, e, i, o, u</td>
    <td>
      <span class="fonet"
        >[gla'diolo,'gl&#603;ba, glit&#643;e'rina, gl&#596;'rja, 'glutine]</span
      ><br />

      <span class="ital">(gladiolo, glèba, glicerina, gloria, glùtine)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
      poikkeuksena
      <br />

      1) persoonapronomini, 2) maskuliinin m&auml;&auml;r&auml;&auml;v&auml;n
      artikkelin <span class="ital">lo</span> monikkomuoto
      <span class="ital">gli</span>, ennen <span class="ital">gn</span>-,
      <span class="ital">ps</span>-, <span class="ital">sp</span>-, ja
      <span class="ital">z</span>- alkuisia substantiiveja
    </td>

    <td valign="top">
      <span class="fonet">[&#654;i]</span><br />
      <span class="ital">(gli)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>gn <span class="fonet">[&#626;]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">['ba&#626;o, '&#626;&#596;mo]</span><br />
      <span class="ital">(bagno, gnomo)</span>
    </td>
  </tr>
  <tr>
    <td><a name="h">H,h</a> <span class="fonet">['akka]</span></td>

    <td>h &nbsp;</td>
    <td>ei &auml;&auml;nny</td>
    <td>
      <span class="fonet">[&#596;, 'anno]</span><br />

      <span class="ital">(ho, hanno)</span>
    </td>
  </tr>

  <tr>
    <td><a name="i">I,i</a> <span class="fonet">[i]</span></td>
    <td>i <span class="fonet">[i]</span></td>

    <td>lyhyt, (pitk&auml;,) kirkas</td>
    <td>
      <span class="fonet">[is'tante, 'bimbo, ti'rare, 'fine]</span><br />
      <span class="ital">(istante, bimbo, tirare, fine)</span>
    </td>
  </tr>

  <tr>
    <td><a name="j">J,j</a> <span class="fonet">[i'lunga]</span></td>
    <td>j <span class="fonet">[j],[d&#658;]</span></td>
    <td>k&auml;yt&ouml;ss&auml; vain vieraskielisiss&auml; sanoissa,</td>
    <td>
      <span class="fonet">[d&#658;&#230;z, d&#658;inz, 'jodel, 'junjor]</span>
      <br />

      <span class="ital">(jazz, jeans, jodel, junior)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td><span class="fonet">[j]</span></td>

    <td>
      mutta k&auml;ytet&auml;&auml;n foneettisena merkkin&auml;
      merkisem&auml;&auml;n nopeata, painotonta i vokaalia
    </td>
    <td>
      <span class="fonet">['bujo, 'fjato, pja't&#643;ere]</span><br />

      <span class="ital">(buio, fiato, piacere)</span>
    </td>
  </tr>

  <tr>
    <td><a name="k">K,k</a> <span class="fonet">['kappa]</span></td>
    <td>k <span class="fonet">[k]</span></td>
    <td>vierasper&auml;isiss&auml; sanoissa</td>
    <td>
      <span class="fonet">[ka'bul, ka'jak, ko'ala]</span><br />

      <span class="ital">(Kabul, kayak, koala)</span>
    </td>
  </tr>

  <tr>
    <td><a name="l">L,l</a> <span class="fonet">['&#603;lle]</span></td>
    <td>l <span class="fonet">[l]</span></td>

    <td>&nbsp;</td>

    <td>
      <span class="fonet">['l&#603;tto, 'ala]</span><br />
      <span class="ital">(letto, ala)</span>
    </td>
  </tr>

  <tr>
    <td><a name="m">M,m</a> <span class="fonet">['emme]</span></td>

    <td>m <span class="fonet">[m]</span></td>
    <td>&nbsp;</td>
    <td>
      <span class="fonet">['madre, 'ramo]</span><br />
      <span class="ital">(madre, ramo)</span>
    </td>
  </tr>

  <tr>
    <td><a name="n">N,n</a> <span class="fonet">['&#603;nne]</span></td>
    <td>n <span class="fonet">[n]</span></td>
    <td>&nbsp;</td>

    <td>
      <span class="fonet">[n&#596;, fu'mante]</span><br />

      <span class="ital">(no, fumante)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>ng <span class="fonet">[ng]</span></td>
    <td>
      molemmat &auml;&auml;ntyv&auml;t, (kielenk&auml;rki -n ja g, eik&auml;
      siten kuin suomenkieless&auml; ng
      <span class="fonet">[&#331;]</span> sanassa keng&auml;t
      <span class="fonet">[ke&#331;&#230;t]</span>)
    </td>
    <td>
      <span class="fonet">['lungo, lan'gwendo]</span><br />
      <span class="ital">(lungo, languendo)</span>
    </td>
  </tr>

  <tr>
    <td><a name="o">O,o</a> <span class="fonet">[&#596;]</span></td>

    <td>o <span class="fonet">[o]</span></td>
    <td>lyhyt, (pitk&auml;,) suljettu</td>
    <td>
      <span class="fonet">['ponte, o&#331;'&#331;uno, 'ora]</span><br />

      <span class="ital">(ponte, ognuno, ora)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>o <span class="fonet">[&#596;]</span></td>
    <td>lyhyt, (pitk&auml;,) avoin</td>
    <td>
      <span class="fonet">['k&#596;sta, 'n&#596;to]</span> <br />
      <span class="ital">(costa, noto)</span>
    </td>
  </tr>

  <tr>
    <td><a name="p">P,p</a> <span class="fonet">[pi]</span></td>
    <td>p <span class="fonet">[p]</span></td>
    <td>&nbsp;</td>
    <td>
      <span class="fonet">['padre, pala'tino]</span><br />

      <span class="ital">(padre, Palatino)</span>
    </td>
  </tr>

  <tr>
    <td><a name="q">Q,q</a> <span class="fonet">[ku]</span></td>
    <td>q <span class="fonet">[k]</span></td>
    <td>qua-, que, qui-, quo- alkuiset sanat</td>
    <td>
      <span class="fonet">['kwando, 'kwesto, kwi, 'kwota]</span><br />

      <span class="ital">(quando, questo, qui, quota)</span>
    </td>
  </tr>

  <tr>
    <td><a name="r">R,r</a> <span class="fonet">['erre]</span></td>
    <td>r <span class="fonet">[r]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">['rapido, ritar'dare]</span><br />

      <span class="ital">(rapido, ritardare)</span>
    </td>
  </tr>

  <tr>
    <td><a name="s">S,s</a> <span class="fonet">['esse]</span></td>

    <td>s <span class="fonet">[s]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">['sano, 'sole, 'kasa, 'kosa]</span><br />
      <span class="ital">(sano, sole, casa, cosa)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>s <span class="fonet">[z]</span></td>
    <td>vokaalien v&auml;liss&auml; usein</td>
    <td>
      <span class="fonet">['kazo, e'zame, 'zvago, 'skuza]</span><br />
      <span class="ital">(caso, esame, svago, scusa)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>sc <span class="fonet">[sk]</span></td>
    <td>ennen a, o, u</td>
    <td>
      <span class="fonet">['skambjo, 'skonto, sku'zare]</span><br />

      <span class="ital">(scambio, sconto, scusare</span>)
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>sc <span class="fonet">[&#643;]</span></td>

    <td>ennen e, i</td>
    <td>
      <span class="fonet">['&#643;&#603;na, '&#643;immja]</span><br />
      <span class="ital">(scena, scimmia)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>sch <span class="fonet">[sk]</span></td>
    <td>ennen e, i</td>
    <td>
      <span class="fonet">['skertso, 'skj&#603;na]</span><br />
      <span class="ital">(scherzo, schiena)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>scia <span class="fonet">[&#643;a]</span></td>
    <td>
      i j&auml;&auml; &auml;&auml;ntym&auml;tt&auml;, mutta aiheuttaa
      <span class="fonet">&#643;</span>-&auml;&auml;nteen
    </td>
    <td>
      <span class="fonet">[&#643;a'gura]</span><br />
      <span class="ital">(sciagura)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>scio <span class="fonet">[&#643;o]</span></td>
    <td></td>
    <td>
      <span class="fonet">['&#643;&#596;lto]</span><br />

      <span class="ital">(sciolto)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>sciu <span class="fonet">[&#643;u]</span></td>
    <td></td>
    <td>
      <span class="fonet">[&#643;u'pare]</span><br />
      <span class="ital">(sciupare)</span>
    </td>
  </tr>

  <tr>
    <td><a name="t">T,t</a> <span class="fonet">[ti]</span></td>

    <td>t <span class="fonet">[t]</span></td>
    <td>&nbsp;</td>
    <td>
      <span class="fonet">[ta't&#643;ere, 't&#603;rra, tro'vare]</span><br />

      <span class="ital">(tacere, terra, trovare)</span>
    </td>
  </tr>

  <tr>
    <td><a name="u">U,u</a> <span class="fonet">[u]</span></td>
    <td>u <span class="fonet">[u]</span></td>

    <td>lyhyt, (pitk&auml;)</td>
    <td>
      <span class="fonet">['kulto, 'muro]</span><br />

      <span class="ital">(culto, muro)</span>
    </td>
  </tr>
  <tr>
    <td><a name="v">V,v</a> <span class="fonet">[vu]</span></td>
    <td>v <span class="fonet">[v]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">[va'kantsa, va'gare, 'vekkjo]</span><br />
      <span class="ital">(vacanza, vagare, vecchio)</span>
    </td>
  </tr>
  <tr>
    <td><a name="z">Z,z</a> <span class="fonet">['zeta]</span></td>

    <td>z <span class="fonet">[ts]</span></td>
    <td>vaihtelee ilman selke&auml;&auml; s&auml;&auml;nt&ouml;&auml;</td>
    <td>
      <span class="fonet">['tsuppa, av'vettso]</span><br />
      <span class="ital">(zuppa, avvezzo)</span>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>z <span class="fonet">[dz]</span></td>
    <td></td>
    <td>
      <span class="fonet">['dzero, 'm&#603;ddzo]</span><br />
      <span class="ital">(zero, mezzo)</span>
    </td>
  </tr>
</table>

<div class="sis">
  <h3>
    Seuraavat aakkoset tulevat esille vain vierasper&auml;isiss&auml; sanoissa:
  </h3>
</div>

<table class="aakkostaulu">
  <tr>
    <td width="140"><b>K,k</b> <span class="fonet">['kappa]</span></td>
    <td width="70">k <span class="fonet">[k]</span></td>
    <td>&nbsp;</td>
    <td width="250">
      <span class="fonet">['kaki, 'karma, 'nou hau]</span><br />

      <span class="ital">(kaki, karma, know-how)</span>
    </td>
  </tr>

  <tr>
    <td>
      <a name="w">W,w</a> <span class="fonet">['doppjo vu]</span> tai
      <span class="fonet">['doppja vi]</span>
    </td>
    <td>w <span class="fonet">[w]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">['wo:km&#601;n, 'wiski. vat]</span> <br />

      <span class="ital">(walkman, whisky, watt)</span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
      foneettisena merkkin&auml;
      <span class="fonet">[w]</span> k&auml;yt&ouml;ss&auml; tarkoittamaan
      nopeasti ja painottomasti &auml;&auml;ntyv&auml;&auml; u-vokaalia, (esim.
      englannin kieless&auml; we, why, well)
    </td>
    <td>
      <span class="fonet">['kwando,'kwello,'kwi, kwo'tare]</span> <br />

      <span class="ital">(quando, quello, qui, quotare)</span>
    </td>
  </tr>
  <tr>
    <td><a name="x">X,x</a> <span class="fonet">[iks]</span></td>

    <td>x <span class="fonet">[ks]</span></td>

    <td>&nbsp;</td>
    <td>
      <span class="fonet">[ksero'k&#596;pja, ksi'l&#596;fono]</span> <br />
      <span class="ital">(xerocopia, xilofono)</span>
    </td>
  </tr>
  <tr>
    <td>
      <a name="y">Y,y</a> <span class="fonet">['ipsilon]</span><br /><span
        class="fonet"
        >[i greca]</span
      >
    </td>

    <td>y <span class="fonet">[i,j]</span></td>

    <td>
      &auml;&auml;ntyy niin kuin se lainatussa kieless&auml; &auml;&auml;ntyy
    </td>
    <td>
      <span class="fonet"
        >[j&#596;t, 'j&#230;&#331;ki, 'j&#596;ga, 'j&#596;gurt]</span
      >
      <br />
      <span class="ital">(yacht, yankee, yoga, yogurt)</span>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
